Repository coinbase/cds, pull requests merged in 2025-10, with the labels that each got.

#54 docs: correct LICENSE link in README.md
  README.md
Labels: root

#32 fix: tour position
  apps/docs/docs/components/navigation/Tour/_webExamples.mdx
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/common/src/tour/TourContext.ts
  packages/common/src/tour/__tests__/TourContext.test.tsx
  packages/common/src/tour/useTour.ts
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/mobile/CHANGELOG.md
  packages/mobile/package.json
  packages/mobile/src/tour/Tour.tsx
  packages/mobile/src/tour/TourStep.tsx
  packages/web/CHANGELOG.md
  packages/web/package.json
  packages/web/src/tour/Tour.tsx
  packages/web/src/tour/TourStep.tsx
  packages/web/src/tour/__stories__/Tour.stories.tsx
Labels: packages:common, packages:web, packages:mobile, apps:docs, packages:mcp-server

#65 feat: support custom segmented tab fonts
  apps/docs/docs/components/navigation/SegmentedTabs/_mobileExamples.mdx
  apps/docs/docs/components/navigation/SegmentedTabs/_webExamples.mdx
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/mobile/CHANGELOG.md
  packages/mobile/package.json
  packages/mobile/src/tabs/SegmentedTab.tsx
  packages/mobile/src/tabs/__stories__/SegmentedTabs.stories.tsx
  packages/web/CHANGELOG.md
  packages/web/package.json
  packages/web/src/tabs/SegmentedTab.tsx
  packages/web/src/tabs/__stories__/SegmentedTabs.stories.tsx
  packages/web/src/tabs/__tests__/SegmentedTab.test.tsx
  packages/web/src/tabs/__tests__/SegmentedTabs.test.tsx
Labels: packages:common, packages:web, packages:mobile, apps:docs, packages:ui-mobile-playground, packages:mcp-server

#67 chore: add docs for RemoteImageGroup
  apps/docs/docgen.config.js
  apps/docs/docs/components/inputs/SelectChip/webMetadata.json
  apps/docs/docs/components/media/RemoteImageGroup/_mobileExamples.mdx
  apps/docs/docs/components/media/RemoteImageGroup/_mobilePropsTable.mdx
  apps/docs/docs/components/media/RemoteImageGroup/_webExamples.mdx
  apps/docs/docs/components/media/RemoteImageGroup/_webPropsTable.mdx
  apps/docs/docs/components/media/RemoteImageGroup/index.mdx
  apps/docs/docs/components/media/RemoteImageGroup/mobileMetadata.json
  apps/docs/docs/components/media/RemoteImageGroup/webMetadata.json
  apps/docs/sidebars.ts
  apps/docs/src/theme/Playground/index.tsx
Labels: apps:docs

#68 fix (DX-4971): TabNavigation DotCount Width Issue
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/common/src/tokens/dot.ts
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/mobile/CHANGELOG.md
  packages/mobile/package.json
  packages/mobile/src/tabs/__stories__/TabNavigation.stories.tsx
  packages/web/CHANGELOG.md
  packages/web/package.json
Labels: packages:common, packages:web, packages:mobile, packages:mcp-server

#76 chore: bump version to release new packages
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/illustrations/CHANGELOG.md
  packages/illustrations/package.json
  packages/lottie-files/CHANGELOG.md
  packages/lottie-files/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/mobile-visualization/CHANGELOG.md
  packages/mobile-visualization/package.json
  packages/mobile/CHANGELOG.md
  packages/mobile/package.json
  packages/ui-mobile-playground/CHANGELOG.md
  packages/ui-mobile-playground/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web-visualization/CHANGELOG.md
  packages/web-visualization/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Labels: packages:common, packages:web, packages:mobile, packages:utils, packages:ui-mobile-playground, packages:mobile-visualization, packages:illustrations, packages:mcp-server, packages:icons, packages:lottie-files, packages:web-visualization

#81 fix: zIndex CSS var in web responsive style
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/mobile/CHANGELOG.md
  packages/mobile/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
  packages/web/src/styles/responsive/desktop.ts
  packages/web/src/styles/responsive/phone.ts
  packages/web/src/styles/responsive/tablet.ts
Labels: packages:common, packages:web, packages:mobile, packages:mcp-server

#84 chore: Clean up docs pages
  apps/docs/docs/components/layout/Box/_mobileExamples.mdx
  apps/docs/docs/components/layout/Box/_webExamples.mdx
  apps/docs/docs/components/layout/Grid/_webExamples.mdx
  apps/docs/docs/components/layout/GridColumn/_webExamples.mdx
  apps/docs/docs/components/layout/HStack/_mobileExamples.mdx
  apps/docs/docs/components/layout/HStack/_webExamples.mdx
  apps/docs/docs/getting-started/api-overview/_mobileContent.mdx
  apps/docs/docs/getting-started/api-overview/_webContent.mdx
  apps/docs/docs/getting-started/api-overview/index.mdx
  apps/docs/docs/getting-started/api-overview/mobileMetadata.json
  apps/docs/docs/getting-started/api-overview/webMetadata.json
  apps/docs/docs/getting-started/installation/_mobileContent.mdx
  apps/docs/docs/getting-started/installation/_webContent.mdx
  apps/docs/docs/getting-started/mcp-server.mdx
  apps/docs/docs/getting-started/styling/_mobileContent.mdx
  apps/docs/docs/getting-started/styling/_webContent.mdx
  apps/docs/docs/guides/advanced-customization.md
  apps/docs/docs/guides/build-new-components.md
  apps/docs/docs/guides/contribute-guidelines.md
  apps/docs/docs/guides/integrate-with-build-tools.md
  apps/docs/docs/guides/polymorphic-components.md
  apps/docs/docs/home/Home.tsx
  apps/docs/docs/hooks/useDimensions/_mobileApi.mdx
  apps/docs/docs/hooks/useDimensions/_webApi.mdx
  apps/docs/docs/hooks/useEventHandler/_api.mdx
  apps/docs/docs/hooks/useHasMounted/_webApi.mdx
  apps/docs/docs/hooks/useIsoEffect/_webApi.mdx
  apps/docs/docs/hooks/useMergeRefs/_api.mdx
  apps/docs/docs/hooks/useOverlayContentContext/_webApi.mdx
  apps/docs/docs/hooks/usePreviousValue/_api.mdx
  apps/docs/docs/hooks/useRefMap/_api.mdx
  apps/docs/docs/hooks/useScrollBlocker/_webApi.mdx
  apps/docs/static/img/campaignCardBanners/api_overview.svg
  apps/docs/static/img/campaignCardBanners/api_overview_dark.svg
  apps/docs/static/img/campaignCardBanners/styling.svg
  apps/docs/static/img/campaignCardBanners/styling_dark.svg
  apps/docs/static/img/campaignCardBanners/theming.svg
  apps/docs/static/img/campaignCardBanners/theming_dark.svg
Labels: apps:docs
